.TodoSearch {
    display: block;
    width: 90%;
    border: none;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    background-color: #010f33;
    color: #ffffff;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}