.TodoTitle {
    text-align: center;
    font-size: 40px;
}
.app-header {
    background-color: #172a57;
    padding: 25px 0;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0 0 50px 50px ;
}
.container {
    max-width: 50%;
    margin: 0 auto;
}
@media (max-width: 1080px) {
    .container {
        max-width: 75%
    }
}
@media (max-width: 800px) {
    .container {
        max-width: 100%;
    }
}
.alertMessage  {
    text-align: center;
    margin: 50px 0;
    font-size: 24px;
}