.modal {
  background: #202d4e;
  height: auto;
  width: 90%;
  max-width: 30%;
  max-height: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
  margin: 0 auto;
  display: table;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%; 
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: mymove 0.3s;
  transition: .3s;
}
@media (max-width: 1080px) {
  .modal {
    max-width: 40%;
    max-height: 40%;
  }
}
@media (max-width: 800px) {
  .modal {
    max-width: 75%;
    max-height: 40%;
  }
}

.open-modal {
  animation: mymove 0.3s;
}
@keyframes mymove {
  0%   {top: -100px;}
  100% {top: 50%;}
}